<div class="center-align">
  <h2>Log In</h2>
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>
</div>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In Here!</title>
  </head>
  <body>
    <%= form_tag('/signin') do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= text_field_tag :password %>
    <%= submit_tag "Sign In"%>
    <% end %>
  </body>
</html>
