<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" />
    </header><br>
    <div class="center-align">
      <% if flash[:notice] %>
      <p><%= flash[:notice] %></p><br>
      <% end %>
    </div>
      <%= form_tag('/signin', class: 'form') do%>
        <div class="form__group">
          <%= label_tag 'Username: ' %>
            <%= text_field_tag :username, nil, placeholder: 'Enter Your Username', class: 'form__input' %><br>
        </div>
      <div class="form__group">
        <%= label_tag 'Password:' %>
          <%= password_field_tag :password, nil, placeholder: 'Enter Your Password', class: 'form__input' %><br>
        </div>
          <%= submit_tag "Sign In", class: 'btn'%>
          <% end %>
      </div>
  </body>
</html>
