<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Routine Form</title>
  </head>
  <body>
    <%= form_for @routine do |f| %>
      <%= f.label : %>
      <%= f.text_field : %>
      <%= f.label : %>
      <%= f.text_field : %>
    <% end %>
  </body>
</html>
