  <body>
    <div align="center">
      <%= form_for @routine do |f| %>
      <%= f.label :routine %>
      <%= f.text_field :routine %>
      <%= f.label :notes %>
      <%= f.text_field :notes.content %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>
  </body>
