<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Routines</title>
  </head>
  <body>
    <div>
    <h1 align='center'>Today's Progress:</h1>
    <h2 align='center'><%= @routine.name.capitalize %>:</h2>
    <div align="center">
      <% if flash[:alert] %>
      <p><%= flash[:alert] %></p><br>
      <% end %>
    </div>
    <%= form_tag("/routines/#{@routine.id}", method: 'post') do %>
    <div class="boxes">
      <input type="checkbox" id="box-1">
      <label for="box-1">Sustainable typewriter cronut</label>
    <%= label_tag 'routine[:streak]', 'Completed: '%>
    <%= check_box :streak, 'Completed', id: 'box-1'%><br>
  </div>
    <%= label_tag 'routine[:notes]', 'Notes: ' %><br>
    <%= text_area :notes, 'Notes' %><br>
    <%= hidden_field_tag @routine.id, @routine.id %>
    <%= submit_tag 'Submit' %>
    <% end %>
  <div class="container">
    <section class="todo">
    <h2 align="center">Progress Notes: </h2>
      <ul class="todo-list">
        <% @routine.notes.each do |note| %>
          <li><h3><%= localize(note.created_at, :format => :long) %>: <%= note.comment %></h3></li>
      </ul>
    </section>
        <% end %>
      </div>
      </div>
    </body>
</html>
