<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Routines</title>
  </head>
  <body>
    <h1>Today's Progress:</h1>
    <h3><%= @routine.name.capitalize %>:</h3>
    <div align="center">
      <% if flash[:alert] %>
      <p><%= flash[:alert] %></p><br>
      <% end %>
    </div>
    <%= form_tag("/routines/#{@routine.id}", method: 'post') do %>
    <%= label_tag 'routine[:streak]', 'Completed: '%>
    <%= check_box :streak, 'Completed' %><br>
    <%= label_tag 'routine[:notes]', 'Notes: ' %><br>
    <%= text_area :notes, 'Notes' %><br>
    <%= hidden_field_tag @routine.id, @routine.id %>
    <%= submit_tag 'Submit' %>
    <% end %>
  <div class="container">
    <section class="todo">
    <h2 align="center">Progress Notes: </h2>
      <ul class="todo-list">
        <% @routine.notes.each do |note| %>
          <li><h3><%= localize(note.created_at, :format => :long) %>: <%= note.comment %></h3></li>
      </ul>
    </section>
        <% end %>
      </div><br>
      <%= link_to 'Go back to my routines', routines_path %><br>
      <%= link_to 'Back to profile page', user_path(current_user) %>
    </body>
</html>
