    <figure>
			<header>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src='./routines.js'></script>
				</script>
			</header>
			<section>
				<script>
          document.write(week[day]);
					document.write(new Date().getDate());
				</script>
			</section>
		</figure>
    <h1 align='center'><%= @routine.name.capitalize %>:</h1>
    <h2 align='center'>Today's Progress:</h2>
    <div align="center">
      <% if flash[:alert] %>
      <p><%= flash[:alert] %></p><br>
      <% end %>
    </div>
    <%= form_for @routine do |f| %>
      <%= f.label :streak %>
      <%= f.check_box :streak %>
      <%= f.label :notes %>
      <%= f.text_area :notes %>
      <%= f.submit %>
    <% end %>
    <%= form_tag("/routines/#{@routine.id}", method: 'post') do %>
    <section class="content">
        <div class="list__item">
          <%= label_tag 'routine[:streak]', 'Completed: ', class: "label--checkbox" %>
          <%= check_box :streak, 'Completed' , class: "checkbox" %><br>
        </div>
    </section>
    <section class="todo">
        <h2 align="center"><%= label_tag 'routine[:notes]', 'Notes: ' %><br></h2>
        <ul class="todo-list">
        <li><%= text_area :notes, 'Notes', class: 'notes_input'%></li><br>
        <%= hidden_field_tag @routine.id, @routine.id %>
      </ul>
      <%= submit_tag 'Submit', align: 'center', class: 'button-three' %>
      <% end %>
    </section><br>
    <section class="todo">
      <h2 align="center">Progress Notes: </h2>
        <ul class="todo-list">
          <% @routine.notes.each do |note| %>
          <li><h3><%= localize(note.created_at, :format => :long) %>: <%= note.comment %></h3></li>
          <% end %>
        </ul>
    </section><br>
    <div class="col-xs-4", align="center">
      <%= render 'routinegraph' %>
    </div>
    <%= link_to 'Back to profile page', user_path(current_user) %>
