  <body class="body_user_show">
    <div class="container_user_show">
      <h1 class="h1"><%= @user.display_name %>'s Profile</h1>
    <ul>
      <h2 class="h2">Habits: </h2>
      <h3 class="h3">In Progress:</h3>
      <% current_user.routines.each do |routine| %>
      <h2><li><%= link_to "#{routine.name.capitalize}", routine_path(routine) %></li></h2><br>
      <% end %>
      <h3 class="h3">Completed: </h3>
      <%= link_to "Create a New Habit", new_habit_path %><br>
      <%= link_to "Edit Your Profile", edit_user_path %><br>
      <%= link_to "Logout", logout_path %><br>
      <div class="col-xs-4", align="center">
        <%= render 'graph' %>
  </div>
  </div>
  </body>
