<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Habits:</title>
  </head>
  <body>
    <h1>Habit:</h1>
      <%= @habit.routine %>
      <%= form_for @habit do |f| %>
      <%= f.label :habit, 'Delete' %>
      <%= f.check_box @habit.id %>
        <%= f.submit "Delete Habit" %>
      <% end %>
  </body>
</html>
